/* HELPER CLASSES */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}

.flex {
    display: flex;
}

.ai-c {
    align-items: center;
}
.jc-c {
    justify-content: center;
}

.ai-fe {
    align-items: flex-end;
}

.jc-sb {
    justify-content: space-between;
}

.spacer-y > * + * {
    margin-top: 2rem;
}

.spacer-x > * + * {
    margin-left: 1.875rem;
}

.gain {
    color: var(--lime-green);
}
/* Margins */
.mr-05 {
    margin-right: 0.25rem;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}
.mb-6 {
    margin-bottom: 3rem;
}

.pt-4 {
    padding-top: 2rem;
}

/* ------------------ */

.logo {
    width: 30%;
    width: clamp(20%, 5vw, 30%);
}
.logo img {
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-left {
    border-bottom: 1px solid var(--sec-text-clr);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-right {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tagline {
    color: var(--sec-text-clr);
    font-weight: var(--font-xl);
    font-size: 0.875rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
}

.card {
    background-color: var(--card-bg);
    border-radius: 5px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    transition: background-color 550ms ease-in-out, transform 250ms ease-in-out;
}

.card:hover {
    background-color: var(--card-bg-hover);
    transform: scale(1.05);
}

.social-icon {
    width: 20px;
    height: 20px;
}

.stats {
    font-size: 0.875rem;
    font-weight: var(--font-xl);
}

@media (min-width: 768px) {
    .logo {
        width: 60%;
        width: clamp(30%, 15vw, 50%);
    }
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-left {
        border-bottom: none;
    }

    .theme-toggle > * + * {
        margin-left: 0.7rem;
    }

    .light-mode {
        --toggle-bg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    }

    .cards {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .card {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
